{% extends "headers.html" %}
{% block content %}
<!-- Main Content -->
<main>
  <div class="container">
    <h1>Weather Information</h1>
    <h5><b>Location:</b> {{weather_data['resolvedAddress']}}</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Current Weather Conditions</th>
          <th>Max Temperature (in °C)</th>
          <th>Min Temperature (in °C)</th>
          <th>Precipitation Probability</th>
          <th>Humidity</th>
          <th>Weather Alerts</th>
        </tr>
      </thead>
      <tbody>
        {% for weather_data_item in weather_data['days'] %}
        <tr>
          <td>{{ weather_data_item['datetime'] }}</td>
          <td>{{ weather_data_item['conditions'] }}</td>
          <td>{{ weather_data_item['tempmax'] }}</td>
          <td>{{ weather_data_item['tempmin'] }}</td>
          <td>{{ weather_data_item['precipprob'] }}</td>
          <td>{{ weather_data_item['humidity'] }}</td>
          <td>{{ weather_data_item['description'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="heading md-4 pd container">
    <h5>
      <i class="bi bi-map">&nbsp;&nbsp;</i>Interactive Map
    </h5>
  </div>

  <!-- Map container -->
  <div id="map-container">
    <div id="map">
      <a href="#" class="leaflet-routing-collapse-btn"></a>
    </div>
    <div class="resize-handle"></div>
  </div>

  <!-- Leaflet packages -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.js"></script>


  <!-- Hotels at Destination -->
  <div class="md-4 pd container">
    <h5>
      For Hotel Booking:
      <a style="text-decoration: none" href="https://www.booking.com/searchresults.html?ss={{location}}&checkin={{start_date}}&checkout={{end_date}}" target="_blank">
        <button type="button" class="btn btn-light">
          Click Here
        </button>
      </a>
    </h5>
    <hr>
  </div>

  <!-- Places of interest -->
  <div class="md-4 pd container places_of_interest">
    <h3>Places to visit near {{ location }}:</h3>
    <ol>
      {% for place in places %}
        <li>
          <h5>{{place["Name"]}}</h5>
          <p>{{place["Information"]}}</p>
          <p>Coordinates: ({{place["Coordinates"][0] | round(2)}}, {{place["Coordinates"][1] | round(2)}})</p>
      </li>
      {% endfor %}
    </ol>
  </div>
</main>

<!-- Share Icon and other elements -->
<div class="floating-container">
  <div class="floating-button">
    <i class="fa-solid fa-share-from-square"></i>
  </div>
  <!-- Elements -->
  <div class="element-container">
    <!-- Facebook -->
    <a class="float-element" href="#"
      target="_blank">
      <span>
        <i class="fa-brands fa-facebook"></i>
    </a>

    <!-- WhatsApp -->
    </span>
    <a class="float-element"
      href="#"
      target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp"></i>
      </span>
    </a>

    <!-- Twitter or X -->
    <a class="float-element"
      href="#"
      target="_blank">
      <span>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </a>

    <!-- LinkedIn -->
    <a class="float-element"
      href="#" target="_blank">
      <span>
        <i class="fa-brands fa-linkedin"></i>
      </span>
    </a>

    <!-- Telegram -->
    <a class="float-element"
      href="#"
      target="_blank">
      <span>
        <i class="fa-brands fa-telegram"></i>
      </span>
    </a>
    <!-- Download -->
    <button id="download" class="float-element">
      <span>
        <i class="fa-solid fa-download"></i>
      </span>
    </button>
  </div>
</div>

<!-- Footer -->
<footer class="jumbotron text-center text-white fixed-bottom" style="background-color: #030303;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0)">
    <p>
      The Ultimate TravelPlanner
      <a style="color: #0ed9ddd6; text-decoration: none" href="#">TravelBuddy</a>
    </p>
  </div>
</footer>

<!-- Download libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
  setTimeout(function () {
    const alerts = document.querySelectorAll(".alert");

    alerts.forEach(function (alert) {
      // Set opacity to 0 to initiate the transition
      alert.style.opacity = 0;
    });

    // After the transition duration, remove the alert elements
    setTimeout(function () {
      alerts.forEach(function (alert) {
        alert.style.display = "none";
      });
    }, 1000); // Adjust this delay to match your transition duration (in this case, 1 second)
  }, 5000);
</script>

<!--Script tag for making map-->
<script>
  // Coordinates of start and end points
  var start = {{origin}};
  var end = {{destination}};

  // Initialize the map
  var map = L.map('map').setView(start, 8);

  // Add a base layer (e.g., OpenStreetMap)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  // Add Routing control
  L.Routing.control({
    waypoints: [
      L.latLng(start[0], start[1]),
      L.latLng(end[0], end[1])
    ],
    routeWhileDragging: true,
    router: L.Routing.osrmv1({
      serviceUrl: 'https://router.project-osrm.org/route/v1'
    })
  }).addTo(map);

  

</script>

<script src="https://cdn.jsdelivr.net/npm/markdown-it@11.0.1/dist/markdown-it.min.js"></script>

<script>
  const md = window.markdownit();

  const html = md.render(
    document.getElementById("markdown-content").textContent
  );

  document.getElementById("markdown-content").innerHTML = html;

  document.getElementById('download').addEventListener('click', function() {
    var element = document.querySelector('main');
    var opt = {
      margin: 0.5,
      filename: 'itinerary.pdf',
      image: { type: 'png', quality: 100 },
      html2canvas: { scale: 0.8 },
      jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
    };

    html2pdf().set(opt).from(element).toPdf().get('pdf').then(function(pdf) {
      var totalPages = pdf.internal.getNumberOfPages();
      for (var i = 1; i <= totalPages; i++) {
        pdf.setPage(i);
        pdf.text('Visit us at:"https://TravelBuddy.com"', 0.2, pdf.internal.pageSize.height - 0.3);
      }
      pdf.save('itinerary.pdf');
    });
  });

</script>
{% endblock %}
</body>
</html>
